@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection{
    background-color: rgba(125, 113, 113, 0.3);
    color:rgba(255, 255, 255, 0.8)
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
}

h1{
    color: white;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 30px;
}

.navbar i{
    color: #555;
    transition: color 0.5s;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}


nav ul li{
    display: inline-block;
    margin-right: 20px;
    
}

nav ul li a{
    color: white;
    transition: color 0.5s;
    font-size: 25px;
}

nav ul li a:hover{
    color: black;
}

a{
    text-decoration: none;
    color: #555;
}

p{
    color: white;
}

.header{
    background-image: url("images/desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.header2{
    background-color: black;
}

.container, .contactContainer{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.container img{
    padding: 0;
}


.contactContainer h1{
    font-size: 80px;
    line-height: 100px;
    padding-left: 60px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.contactContainer p{
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 60px;
    display: inline-block;
}


.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 40px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.reviews .col-2 {
    font-size: 15px;
    margin: 5px 0;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container br{
    line-height: 40px;
}

.container .arrow a{
    color: white;
}


.btn{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    transition: color 0.5s;
    transition: border 0.5s;
    border: 3px solid white;
}

.btn:hover{
    background: white;
    color: black;
    border: 3px solid black;
}

.featured-services{
    background-color: black;
}


.featured-services h1{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    font-size: 40px;
}

.featured-services h2{
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

.featured-services hr{
    height: 4px;
    background-color: white;
    border: none;
    width: 85%;
    margin: auto;
    
}


.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    margin: auto;
    align-items: center;
}

.col-3 img{
    margin: auto;
    width: 100%;
}



.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

.small-container h1{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    font-size: 40px;
}

.reviews{
    background-color: black;
}

.reviews .row .col-2 i{
    color: white;
}

.Services{
    background-color: black;
}

.Services h1{
    font-size: 50px;
    text-align: left;
    padding-left: 100px;
}

.Services h2{
    color: white;
    padding-bottom: 10px;
}

.reviews .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
}



.reviews hr{
    height: 4px;
    background-color: white;
    border: none;
    width: 85%;
    margin: auto;
    
}

.Services .row .column{
    text-align: center;
}

.Services .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Services .col-2{
    font-size: 20px;
    margin: 5px 0;
    padding: 50px;
    line-height: 25px;
}

.formContainer{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

form{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h3{
    color: #555;
    font-weight: 800;
    margin-bottom: 20px;
}

form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: whitesmoke;
    font-size: 16px;
    cursor: text;
    color: black;
}

form button{
    padding: 20px;
    background: rgb(144, 143, 143);
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    width: 200px;
    margin: 30px auto ;
}

.about{
    background-color: whitesmoke;
}

.about h1, .about p{
    color: black;
    text-align: center;
    padding: 20px;
    margin: auto;
    width: 100%;
}



.media-scroller{
    display: grid;
    gap: var(--size-3);
    grid-auto-flow: column;
    grid-auto-columns: 36%;

    overflow-x: auto;
    overscroll-behavior-inline: contain;
}


.productContainer{
    inline-size: min(100% - 4rem, 70rem);
    margin-inline: auto;
}


.flow{
    display: grid;
    gap: var(--size-3);
}

.bigContainer{
    background-color: black;
}

.bigContainer h2{
    font-size: 40px;
    text-align: center;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.socials{
    font-size: 30px;
    text-align: center;
    background-color: whitesmoke;
    padding: 20px;
}

.arrow {
    text-align: center;
    margin: 8% 0;
  }

  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

  .logo{
    padding: 0px;
  }

  .instafeed{
    background-color: white;
    margin: auto;
  }

  .embedsocial-hashtag{
    background-color:  black;
  }

  .desktops, .components, .devices{
    background-color: white;
  }
  .desktops p, .desktops h2, .components h2, .components p, .devices h2, .devices p{
    color: black;
    text-align: center;
    margin: auto;
    padding: 10px;
  }

  .desktops img{
    margin: auto;
  }

  .desktops .column{
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  
.desktopHeader{
    background-image: url("images/pc2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.componentHeader{
    background-image: url("images/pc1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.deviceHeader{
    background-image: url("images/devicebg.jpg");
    background-repeat: no-repeat;
    background-size:cover;

    background-color: black;
}

.devices .column{
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

  .components .column{
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
  .components img{
    margin: auto;
  }

  .devices img{
    margin: auto;
  }

  a:current{
    color: #555;
  }

  a:visited{
    color: white;
  }